BasedOnStyle: Chromium
IndentWidth: 4
ColumnLimit: 100
BraceWrapping:
  AfterFunction: false
  AfterClass: false
  AfterControlStatement: false
  BeforeElse: false
AllowShortEnumsOnASingleLine: false


